@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Array';
  src: url('./fonts/Array/Array-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Array';
  src: url('./fonts/Array/Array-BoldWide.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Array';
  src: url('./fonts/Array/Array-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Array';
  src: url('./fonts/Array/Array-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Array';
  src: url('./fonts/Array/Array-SemiboldWide.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Array';
  src: url('./fonts/Array/Array-Wide.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 227, 231, 211;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
