@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Array';
    src: url('./fonts/Array/Array-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Array';
    src: url('./fonts/Array/Array-BoldWide.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Array';
    src: url('./fonts/Array/Array-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Array';
    src: url('./fonts/Array/Array-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Array';
    src: url('./fonts/Array/Array-SemiboldWide.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Array';
    src: url('./fonts/Array/Array-Wide.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@layer components {
    .grid-8-auto {
        grid-template-columns: repeat(8, minmax(0, auto));
    }
}

:root {
    --foreground-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #FDF9ED;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
